<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <div class="container row">
            <p><b>Views:</b> <span th:text="${el.views}"/></p>&nbsp;
            <p><b>Author:</b> <span th:text="${el.author}"/></p>
        </div>

        <a style="display: inline-block;" th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
        <form style="display: inline-block;" th:action="'/blog/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>